name: messio
description: Messio is a modern messaging app

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.0+1

environment:
  sdk: ">=2.2.2 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  intl: ^0.15.8
  rubber: ^0.3.2
  infinite_listview: ^1.0.0

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^0.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_launcher_icons: ^0.7.2+1

flutter_icons:
  ios: true
  android: true
  image_path_ios: "assets/launcher/ic_launcher.png"
  image_path_android: "assets/launcher/ic_launcher.png"
  adaptive_icon_background: "assets/launcher/ic_background.png"
  adaptive_icon_foreground: "assets/launcher/ic_foreground.png"

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  assets:
    - assets/
    - assets/launcher/

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  # assets:
  #  - images/a_dot_burr.jpeg
  #  - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages

#notifications:
#  email: false
#  slack: whitehorseworld:YTImBLfgbCVVmCcOUj0UmiZd
# secure: "Erjceu1EHki1jTWYz1gB7VmZFWPhD8jsZyvEkJ9kgclfAv98oj6tYn0xz1coHKrCpI5fNqW8/v+BkIXOJ/5McsLa8zRBI7F3bMONCEouQWUz2F1sF2RVW88KYTFOtVA0ZXxuFLnDc4W04iVM125tK0EW5snz+RzVdhEVcAdHcurbPLlL4STq9lHovIiflEhUAcM1/61aM1+qtVNXUpmeqOfsTMPepDRZxF+Yh0UI8of3Kqad9wwr4i8xiYcSHcR0S5G2UUov9azyok1edJAHgOWgTmwiTExrcrRK391f7mpBRSNRLin3ML4YHfjX6AEKAawp6Cs+ieJ1WFnmQTERb6FnHw+ubsn1PJOffbi7TBQaHApbMACwUYfhnOl2+N9ElVQDWt4K/HoeLwot2PGKg6H7V3DxIVhI72VfbEZGINIM5QzsBeqkzo64Ux2JlPruMABoq6TGuEgpFnCI9Gcj/Gl+8ycTM1HnbY2nJKdp8qSsLRwqjuZTK2fX+tQvnMXdUfkSq6NY9mZNq4nnMjS8R0gxdaOhcb++LWHPhqdRmW3KU1bwCnvFAV1Mh16nYmt/YET5yrSz7giVaRY+utOPfxWTZXBi+yFdADp2eK12hSPyA6eUJ11IcSdv94jgr7lye0y3YdLS0Zr9W0azdw7zgyK8IRx6l2SuWqhqM8MhNyo="
  #

#notifications:
#  email: false
#  slack:
#    rooms:
#      - secure: "adKLIAZPaNhHkyah22BTfm6iXkgdaQZR4AhdTEPLmGPqaZMNdnLpGOBWtjtRSoyPpZiLCb7hU4ENH8LEBpWogpPBsiYMaQ6XalwqvHL1GqBKwihbgSPFfn3Esj4/1rE/VOl0xEeGzOhjSPk6RJs2ZrMBZsUFpxZNLf8RQvUYKRoX4h0rPQli87G+cpsQx4hv5l6p9NfvN+VA7OJ/oCRAmuGtaZkW6S0ijS3xBH0gLn6zt0vRz+r9TJM/gPqKrpTxUB47X5qAasgSlEzf5C2E4jX4wInMIiVbW/HOfVCN1gDpNwKE3nhqck9stDkOzyHUa6BLIrVygEKgRu2h6larZ9gxzJ4HJbrrXsN0vjLHHRGjql4IUDdv8J6LiApdjsPtvgXfZeX6W+lINLgEKWCtRV7f1qDmcnQkAk1mBg7iWHn06PX5FarQMbcT4aCeTrGiQorAjG6M/LAU5J+h2Tc1EcWQW4+yqMzPAKw0yaxd+4TcjoIJUBPIJRZtokx/68CTJT6FJzkiKhpSRE6eKndegCU0837gOQxXu1CJqxA+5NhQjQhPGAODZHu1ByYTCH1zvpXdsBfopHNh2S8XvblgZw/LZCY+xwCcI4/IGS7OJ1gC0/kgm3rLIRYL+12pWOjYBcxklXQGCymhNS22CpjJDUSEFrQxKyvdbymM86B57IQ="
#    on_success: always
#    on_failure: always

notifications:
  email: false
  slack: whitehorseworld:YTImBLfgbCVVmCcOUj0UmiZd